extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1 #{project_name}

        p #{description}

      .project-tech-links-box.box
        h6 Technologies
        ul

          //- Pug iterator to loop over the locals/technologies imported from the projects data file  
          each item in technologies
            li= item

        a.btn-link(href=`${live_link}`, target='_blank') Live Demo
        a.btn-link(href=`${github_link}`, target='_blank') GitHub Repo

    .project-img-box.box

      - const images = image_urls.slice(1)
      each item in images
        img.project-img(src=`${item}`, alt=`${description}`)

    nav.nav
      a(href='/')
        span &larr;
        |  Back
